@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.codeWrapper {
  margin-top: 1rem;
}

.inputDiscountGroup {
  display: flex;
  gap: 0.5rem;
}

.inputDiscount {
  flex: 1;
  padding: 0.5rem;
  background-color: #99d98c;
  border: none;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  height: 1.5rem;
}

.inputDiscount::placeholder {
  color: #5e5e5e;
  font-family: "Poppins", sans-serif;
}

.discountBtn {
  background-color: #34a0a4;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  height: 40px;
  font-weight: 600;
}

.discountMessage {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
