.checkoutContainer {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

.cartItem {
  max-width: 900px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #d9ed92;
  border: none;
  border-radius: 8px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.cartInfo {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.cartImage {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.purchaseInfo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.removeBtn {
  background-color: white;
  color: #d45252;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}

.removeBtn:hover,
.removeBtn:active {
  background-color: #1a759f;
  color: white;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 900px;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  height: 1.5rem;
  background-color: rgba(153, 217, 140, 0.1);
}

input::placeholder {
  color: #8b8b8b;
}

.checkoutPrice {
  background-color: #d9ed92;
  border: none;
  border-radius: 8px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto;
}

.totalTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0.5rem 1rem;
}

.totalTitles p {
  margin: 0.5rem;
  text-align: left;
}

.totalPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 0.5rem 1rem;
}

.totalPrice p {
  margin: 0.5rem;
  text-align: right;
}

.orderBtn {
  background-color: #34a0a4;
  margin-top: 1rem;
  padding: 0.75rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.error {
  color: #d45252;
  font-size: 0.85rem;
}

@media (min-width: 500px) {
  .cartInfo {
    max-width: none;
  }
}
